<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}"
      lang="ko">

<th:block layout:fragment="content">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <div id="wrapper">
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <h1>Ku:Loud</h1>
                <form>
                    <input type="file" id="fileInput" name="fileInput" multiple>
                    <button type="button" id="uploadButton">Upload</button>
                </form>
                <div id="files" class="text-dark col"></div>
            </div>
        </div>
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion p-1" id="accordionSidebar">
            <div class="text-light text-center">[[${user.name}]]님 환영합니다.</div>
            <a th:href="@{/logout}" class="btn btn-secondary btn-block">로그아웃</a>
            <div class="text-white" style="padding-top: 60px">
                <p class="small">접속 기록</p>
            </div>
            <div id="welcome" class="col p-0 text-gray-100 text-white-50"></div>
        </ul>
    </div>
    <script th:inline="javascript">
        let user = [[${user}]];
        let socket = new WebSocket("ws://" + location.host + "/upload?userId=" + user.id);
        let files = [[${files}]];
        for (let file of files) {
            appendFileItem(file);
        }
        function upload() {
            let files =  $("#fileInput")[0].files;
            for (let file of files) {
                let reader = new FileReader();
                socket.send(JSON.stringify({
                    "type": "START_FILE_UPLOAD",
                    "fileName": file.name
                }))
                reader.onload = function () {
                    let content = reader.result;
                    socket.send(content);
                };
                reader.readAsArrayBuffer(file);
            }
        }

        function appendFileItem(file) {
            let files = $("#files");
            files.append(`<a href="${file['path']}" download>${file['fileName']}</a>`);
        }

        function appendWelcomeItem(json, type='enter') {
            let welcome = $("#welcome");
            let action = type === 'enter' ? '접속' : '종료'
            welcome.append(`<p class="p-0 small">${json['name']}님이 ${action}하셨습니다.<br>세션: ${json['session']}</p>`);
        }

        function handleTextMessage(json) {
            let type = json["type"];
            switch (type) {
                case "enter":
                case "exit":
                    appendWelcomeItem(json, type);
                    break;
                case "uploadFile":
                    let result = json['result'];
                    appendFileItem(result);
                    break;
            }
        }

        $("#uploadButton").click(upload);

        socket.onmessage = function (event) {
            let json = JSON.parse(event.data);
            handleTextMessage(json);
        };
    </script>
</th:block>
</html>
